* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #EE6262;
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-1 {
    font-size: 50px;
    margin-left: 15px;
    color: white;

}

.card{
    margin-top: 50px;
}

.text-2 {
    font-size: 30px;
    color: black;
}

.text-3 {
    font-size: 50px;
    height: 100px;
    color: black;
}

.text-4 {
    font-size: 20px;
    height: 20px;
    color: black;
}

.btn-primary{
    background-color: #EE6262 !important;
    border-color: #EE6262 !important;
}



